<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{pageTitle}}</title>
  <meta name="description" content="Evan Savage: bit-manipulator extraordinaire // Savage Internet">
  <meta name="robots" content="index, follow">
  <link rel="stylesheet" type="text/css" href="/css/style.css" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="Savage Internet" />
  <meta name="twitter:description" content="Evan Savage: bit-manipulator extraordinaire // Savage Internet" />
  <meta name="twitter:image" content="https://savageinter.net/img/logo_square.png" />
  <meta name="twitter:creator" content="@candusavage" />
  <meta name="twitter:site" content="@candusavage" />

  <meta property="og:url" content="https://savageevan.com" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="Evan Savage" />
  <meta property="og:description" content="Evan Savage: bit-manipulator extraordinaire // Savage Internet" />
  <meta property="og:site_name" content="Evan Savage" />
  <meta property="og:image" content="https://savageinter.net/img/logo_square.png" />

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-V1D40R2TTJ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-V1D40R2TTJ');
  </script>
</head>
