<div id="header">
    <div id="logo">
      <h1><span>EV</span><a href="/"><img src="/img/triforce.svg"></a><span>N</span> <span><em>Savage</em></span></h1>
    </div>
    <div id="nav">
      <ul>
        <li><a href=/#about_top>about</a></li>
        <li><a href="/#projects_top">projects</a></li>
        <li><a href="/#contact_top">contact</a></li>
      </ul>
    </div>
  </div>