<div id="header">
    <div id="logo">
      <h1><span>EV</span><img src="/img/triforce.svg"><span>N</span> <span><em>Savage</em></span></h1>
    </div>
    <div id="nav">
      <ul>
        <li><a href=/#about>About</a></li>
        <li><a href="/#projects">Projects</a></li>
        <li><a href="/#contact">Contact</a></li>
      </ul>
    </div>
  </div>