<!DOCTYPE html>
<html>
{{> head}}
<body>
<div id="root">
  {{> header}}
  <div id="body">
    <section id="banner">
      <div id="headshot">
        <img src="/img/evan_triangle.png" alt="Evan Savage" />
      </div>
    </section>
    <section id="about_top">
      <div class="container">
        <h2>about</h2>
        <div id="haiku" class="hide">
          <p>do things that matter;</p>
          <p>learn, think, and teach constantly:</p>
          <p>enjoy the process.</p>
        </div>
        <p>
          Hi!  I'm Evan Savage, consulting software developer and co-founder of <a href="https://savageinter.net/">Savage Internet</a>.  Let's talk.
        </p>
        <p>
          Need an <a href="/#projects_top" class="tagger tag-dataviz">eye-catching visualization</a>, an <a href="/kinoma-hoedown.html">engaging demo</a>, or an <a href="/the-puzzling-madness-of-john-a-macdonald.html">exciting educational game</a>?  I'm all ears.
        </p>
        <p>
          Need a <a href="/#projects_top" class="tagger tag-speaking">skilled speaker and presenter</a>, or someone with a breadth of experience?  I'm that person.
        </p>
        <p>
          Or maybe you just came to <a href="/#projects_top">browse</a>.  Welcome!  Take your time.  I'm ready when you are.
        </p>
        <a href="/#contact_top" class="contact-action">let's get started</a>
      </div>
    </section>
    <section id="projects_top">
      <div class="container">
        <h2>projects</h2>
        <div id="tags">
          {{#tags}}
            <span class="tag tag-{{.}}"><span>{{.}}</span></span>
          {{/tags}}
        </div>
      </div>
      <div id="projects">
        {{#projects}}
          {{> projectShort}}
        {{/projects}}
      </div>
    </section>
    <section id="contact_top">
      <div class="container">
        <h2>contact</h2>
        <p>
          You can reach me at <a href="mailto:evan@savageinter.net">evan@savageinter.net</a>, or via any of the following channels:
        </p>
        <p id="contact_social">
          <a href="mailto:evan@savageinter.net"><img src="/img/email.svg" /></a>
          <a href="https://www.facebook.com/savage.evan"><img src="/img/facebook.png" /></a>
          <a href="https://www.linkedin.com/in/evansavage"><img src="/img/linkedin.png" /></a>
          <a href="https://github.com/candu"><img src="/img/github.png" /></a>
        </p>
        <p id="footer">
          &copy; 2017 Savage Internet.  All rights reserved.
        </p>
      </div>
    </section>
  </div>
</div>
<script src="/js/index.js"></script>
</body>
</html>
