<!DOCTYPE html>
<html>
{{> head}}
<body>
<div id="root">
  {{> header}}
  <div id="body" class="project-page">
    {{#project}}
    <section>
      <div class="container">
        <div class="project{{#tags}} tag-{{.}}{{/tags}}" style="background-image: url(/img/projects/{{thumb}});">
          <img class="project-image-overlay" src="/img/image_mask.png" />
          <h3 class="project-title">{{title}}</h3>
          <div class="project-details">
            {{#org}}
              <div class="project-org">{{org}}</div>
            {{/org}}
            <div class="project-years">{{years}}</div>
            <div class="project-tags">
              {{#tags}}
                <span class="project-tag tag-{{.}}">{{.}}</span>
              {{/tags}}
            </div>
          </div>
        </div>
        <div class="project-wrapper">
          <div class="project-social">
            {{#links.fb}}
              <a href="{{links.fb}}" title="Follow on Facebook"><img src="/img/facebook.png" /></a>
            {{/links.fb}}
            {{#links.twitter}}
              <a href="{{links.twitter}}" title="Follow on Twitter"><img src="/img/twitter.svg" /></a>
            {{/links.twitter}}
            {{#links.youtube}}
              <a href="{{links.youtube}}" title="Watch video on YouTube"><img src="/img/youtube.png" /></a>
            {{/links.youtube}}
            {{#links.github}}
              <a href="{{links.github}}" title="View source code"><img src="/img/github.png" /></a>
            {{/links.github}}
            {{#links.android}}
              <a href="{{links.android}}" title="Get it on Google Play"><img src="/img/android.svg" /></a>
            {{/links.android}}
          </div>
          <div class="project-links">
            {{#links.site}}
              <div class="project-link"><a href="{{links.site}}" title="{{title}}">website</a></div>
            {{/links.site}}
            {{#links.other}}
              <div class="project-link"><a href="{{href}}" title="{{title}}">{{title}}</a></div>
            {{/links.other}}
          </div>
          <div class="project-description">
            {{description}}
          </div>
        </div>
      </div>
    </section>
    {{/project}}
  </div>
</div>
</body>
</html>
